# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*

# Hardhat
artifacts/
cache/
typechain-types/
coverage/
coverage.json

# FHEVM Temp Files
fhevmTemp/
keys/

# Editor / OS
.vscode/
.idea/
.DS_Store

# Temporary / Build Files
dist/
build/
mockErc20Data.json
